$color:whitesmoke ;
$color2:greenyellow;
$color3:yellow;

@import"_contacto.html";


body{
    background-color: black;
    color:$color;
}
h2{color:orangered}


@mixin fuente { 
    font-family: monospace;
    color: aquamarine;
}
header{
    @include fuente()
}