




body{
    color:whitesmoke;
    background-image: url(paisaje1.jpg);
    background-size: cover;
    background-color: black;
    }

   .navbar-brand{
    color:black;
    span{
        color:greenyellow
    }
    
}    
.jumbotron{
    width: 100%;
height: 150px ;
color: 0 ,0 , 0, 0.5 ;
text-transform: capitalize;
background-image: url(ovni3.jpg);
align-content: center;
background-color: black;
span{color: greenyellow;}
    }
.parrfo1{
    font-family: monospace;
    text-align: center;
    text-transform: capitalize;
    color:orange;
    text-shadow:2px 2px 2px black ;
    font-size: 15px;
    }  
    .parrafo2{
        color:white;
        font-size: 40px;
        text-decoration: dotted;
        text-transform: uppercase;
         text-shadow:2px 2px 2px black ;
        padding: 5px;
    }
.decerca{
    color:white;
    font-size: 40px;
    text-decoration: dotted;
    text-transform: uppercase;
     text-shadow:2px 2px 2px black ;
    padding: 30px;
    text-align: center;
    display: flex;
}
.whatsapp{
    text-align: center;
    display: block;
    color:greenyellow;
    align-items: center;
    background-image: url(galaxia1.jpg);
}